.Input {
  box-sizing: border-box;
  border: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 10px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.Input:focus {
  outline: 1px solid rgba(238, 12, 12, 0.7);
}