.MoviesCardList {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, auto);
  grid-gap: 40px;
  max-width: 1280px;
  min-width: 100%;
  justify-items: center;
  padding-top: 70px;
}

.MoviesCardList__button {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.21;
  font-weight: 500;
  width: 320px;
  height: 36px;
  background-color: #F9F9F9;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #000;
  margin: auto;
}

.MoviesCardList__button:hover {
  cursor: pointer;
  transform: translateY(-2px) scale(1.005) translateZ(0);
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.11), 0 14px 26px;
}