.Button {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
  user-select: none;
}
.Button:hover {
  cursor: pointer;
  opacity: .5;
}
.Button__app {
  position: fixed;
  bottom: 20px;
  right: 50%;
  width: 30px;
  height: 30px;
  transform: translateX(50%);
  background-image: url('../../images/button/top.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
}
.Button__close_place_header {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 22px;
  height: 22px;
  background-image: url('../../images/button/Close-black22.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.Button-avatar {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  width: 100px;
  height: 30px;
  background-image: url('../../images/button/profile.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.Button__close_place_header:active {
  background-image: url('../../images/button/Close-orange.svg');
}
.Button__open_place_header {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  height: 0;
  width: 0;
}
.Button__register {
  height: 45px;
  color: #fff;
  background: #FF6838;
  border-radius: 3px;
  margin-top: 130px;
}
.Button__login {
  height: 45px;
  color: #fff;
  background: #FF6838;
  border-radius: 3px;
  margin-top: 179px;
}
.Button__disabled {
  pointer-events: none;
  background: #b1acac;
}
.Button__search {
  grid-column: 4/5;
  grid-row: 1;
  justify-self: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  outline: none;
  background-image: url('../../images/search/search.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.Button__search_disabled {
  pointer-events: none;
  background-image: url('../../images/search/searchDisabled.svg');
}
.Button__goBack {
  font-size: 14px;
  line-height: 1.21;
  font-weight: normal;
  width: 42px;
  color: #FF6838;
  margin-top: auto;
}
.Button__profile-edit {
  min-height: 20px;
  max-width: 100%;
  font-family: inherit;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin-bottom: 30px;
  margin-top: 220px;
}
.Button__profile-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 20px;
  color: #EE3465;
  font-family: inherit;
  font-size: 12px;
}
.Button-MoviesCardList {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.21;
  font-weight: 500;
  width: 320px;
  height: 36px;
  background-color: #F9F9F9;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #000;
  margin: auto;
}
.Button-MoviesCardList:hover {
  cursor: pointer;
  transform: translateY(-2px) scale(1.005) translateZ(0);
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.11), 0 14px 20px;
  opacity: .5;
}
.Button-CardList {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 500;
  width: 200px;
  height: 286px;
  background-color: #FF6838;
  border-radius: 5%;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11), 0 4px 6px;
}
.Button-Add {
  position: absolute;
  right: 0;
  bottom: -60px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.21;
  font-weight: 500;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #2BE080;
  color: #fff;
  pointer-events: all;
  z-index: 2;
}
.Button-Add:disabled {
  background: #b1acac;
  pointer-events: none;
}
.Button-like {
  grid-column: 1;
  grid-row: 2;
  align-self: flex-end;
  width: 14px;
  height: 12px;
  outline-style: none;
  background-repeat: no-repeat;
  padding: 0;
  background-image: url(../../images/moviesCard/GroupWhite.svg);
}
.Button-like:focus {
  outline: none;
  box-shadow: 0 0 0 1px lightskyblue;
}
.Button-like_color_red {
  background-image: url(../../images/moviesCard/GroupRed.svg);
}
.Button-like_theme_delete {
  background-image: url(../../images/moviesCard/Close-black.svg);
}
.Button-like_theme_delete:active {
  background-image: url(../../images/moviesCard/Close-red.svg);
}
.Button-like_theme_delete:focus {
   box-shadow: 0 0 0 1px #EE3465;
}

.Button-Close {
  position: absolute;
  box-sizing: border-box;
  top: -35px;
  right: -35px;
  width: 41px;
  height: 41px;
  background-color: transparent;
  background-image: url(../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  padding: 0;
  border: none;
  outline: none;
  pointer-events: fill;
}

.Button-Close:active {
  background-image: url(../../images/CloseRed.svg);
}

.Button-Submit {
  box-sizing: border-box;
  padding: 0;
  max-width: 358px;
  width: 100%;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.22;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  margin-top: 48px;
}

@media screen and (max-height: 414px) {
  .Button-Submit {
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .Button-Submit {
    margin-top: 36px;
  }
}

@media screen and (max-width: 800px) {
  .Button_hidden {
    display: none;
  }
  .Button__open_place_header {
    pointer-events: visibleFill;
    width: 40px;
    height: 40px;
    visibility: visible;
    opacity: 1;
    background-image: url('../../images/button/BlackIcon-mainOpen.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 620px) {
  .Button-like  {
    grid-row: 2;
    grid-column: 3/2;
    align-self: flex-start;
    margin-right: 16px;
  }
  .Button-MoviesCardList {
    width: 240px;
  }
}
@media screen and (max-width: 400px) {
  .Button__open_place_header {
    height: 43px;
  }
  .Button__register {
    width: 260px;
    margin-top: auto;
  }
  .Button__login {
    width: 260px;
    margin-top: auto;
  }
  .Button__profile-edit {
    width: 260px;
  }
  .Button__profile-exit {
    width: 260px;
  }
  .Button-Close {
    right: 50%;
    left: 50%;
    top: -50px;
    width: 30px;
    height: 30px;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 350px) {
  .Button-like {
    justify-self: flex-end;
  }
  .Button__profile-edit {
    margin-top: 379px;
  }
}