.Promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 493px;
  width: 93.8%;
  background-color: #F5F5F5;
  border-radius: 5px;
}
@media screen and (max-width: 881px) {
  .Promo {
    min-height: 700px;
  }
}

.Promo__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #000;
  font-style: normal;
  line-height: 1.16;
  max-width: 730px;
  text-align: center;
  margin: auto;
}
