.Popup {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  height: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  transition: all .4s ease;
  z-index: 10;
  user-select: none;
}
.Popup_opened {
  height: 100vh;
  visibility: visible;
  opacity: 1;
  transition: all .5s ease;
}

.Popup_type_delete {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}
.Popup_type_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
}