.HeaderBar {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 1140px;
  width: 89%;
}
.HeaderBar_place_aboutProject {
}

.HeaderBar__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.21;
  margin-bottom: 23px;
  margin-top: 0;
  color: inherit;
}
.HeaderBar__title_place_aboutProject {
}