.HeaderBar {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 1140px;
  width: 89%;
}
.HeaderBar_place_footer {
  justify-content: center;
  min-height: 115px;
  border-bottom: 1px solid #E8E8E8;
}
.HeaderBar_place_portfolio {
  min-height: 110px;
  align-self: center;
}
.HeaderBar_place_techs {
  min-height: 110px;
  margin-bottom: 80px;
  border-bottom: 1px solid #000;
}
.HeaderBar_place_aboutProject {
  min-height: 110px;
  border-bottom: 1px solid #000;
}
.HeaderBar_place_aboutMe {
  min-height: 110px;
  margin-bottom: 60px;
  border-bottom: 1px solid #000;
}

.HeaderBar__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.21;
  margin-bottom: 23px;
  margin-top: 0;
  color: inherit;
}
.HeaderBar__title_place_portfolio {
  color:#A0A0A0;
}
.HeaderBar__title_place_footer {
  font-size: 13px;
  color: #A0A0A0;
  margin-bottom: 20px;
}
.HeaderBar__title_place_techs {
}
.HeaderBar__title_place_aboutProjet {
}
.HeaderBar__title_place_aboutMe {
}

@media screen and (max-width: 770px) {
  .HeaderBar_place_techs {
    margin-bottom: 80px;
    min-height: 140px;
  }
}
@media screen and (max-width: 470px) {
  .HeaderBar_place_techs {
    margin-bottom: 60px;
    min-height: 120px;
  }
}