.SearchForm {
  display: flex;
  max-width: 1280px;
  width: 100%;
}
.SearchForm-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 54px;
  grid-template-rows: 1fr 28px auto;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  min-width: 89%;
  background-color: #fff;
  padding-bottom: 40px;
  border-bottom: 1px solid #E8E8E8;
  margin: 0 auto;
  margin-bottom: 10px;
}
.SearchForm__input {
  grid-column: 1/5;
  grid-row: 1;
  min-height: 50px;
  background-color: #F9F9F9;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  max-width: 1086px;
  width: 95%;
  min-width: 238px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-left: 20px;
  outline: none;
}
.SearchForm__input:placeholder {
  color: #A0A0A0;
}
.SearchForm__input:focus {
  background: linear-gradient(100deg, #fff, #ff6738cb, #fff);
}
.SearchForm__error {
  position: relative;
  width: 100%;
  height: 0;
}
.SearchForm__input-error {
  visibility: hidden;
  font-size: 12px;
  line-height: 1.25;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  color: #f00;
  text-align: right;
  padding-left: 30px;
}
.SearchForm__input-error_active {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
}
.SearchForm-label {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.SearchForm-Check {
  grid-column: 2/3;
  grid-row: 3;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  align-self: flex-start;
}

@media screen and (max-width: 780px) {
  .SearchForm-container {
    max-width: 708px;
  }
  .SearchForm__input {
    width: 92%;
  }
}
@media screen and (max-width: 450px) {
  .SearchForm__input {
    width: 80%;
  }
}