.SearchForm {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  min-width: 100%;
}
.SearchForm-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 54px;
  grid-template-rows: 1fr 28px auto;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  background-color: #fff;
  padding-bottom: 40px;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 10px;
}

.SearchForm__button-search {
  grid-column: 4/5;
  grid-row: 1;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  outline: none;
  background-image: url('../../images/search/search.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.SearchForm__button-search:hover {
  opacity: .5;
  cursor: pointer;
}

.SearchForm-input {
  grid-column: 1/4;
  grid-row: 1;
  min-height: 50px;
  background-color: #F9F9F9;
  border-radius: 5px;
  border: none;
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}
.SearchForm-input:focus {
  background: linear-gradient(100deg, #fff, #ff6738cb, #fff);
}
.SearchForm-label {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.SearchForm-Check {
  grid-column: 2/3;
  grid-row: 3;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  align-self: flex-start;
}
