.Header {
  display: flex;
  min-height: 74px;
  max-width: 1280px;
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
  user-select: none;
}
.Header__container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-width: 90%;
  max-width: 1140px;
}
.Header__container_place_register {
  max-width: 396px;
  min-width: 30%;
}
.Header__container_place_login {
  max-width: 396px;
  min-width: 35%;
}

@media screen and (max-width: 800px) {
  .Header__container {
    justify-content: space-between;
  }
}
@media screen and (max-width: 500px) {
  .Header {
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 400px) {
  .Header {
    min-width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .Header__container {
    min-width: 90%;
    width: 85%;
  }
}