.Header {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 74px;
  max-width: 1280px;
  background-color: #fff;
  padding: 0 60px;
  align-self: stretch;
  margin-bottom: 20px;
}

.Header__button-menu[type='checkbox'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@media screen and (max-width: 800px) {
  .Header__button-menu {
    opacity: 1;
    z-index: 10;
  }

  .Header__button-menu:hover {
    opacity: .3;
    cursor: pointer;
  }

  .Header__button-menu[id='span'] {
    position: absolute;
    overflow: visible;
    width: 44px;
    height: 44px;
    right: 40px;
    padding: 0;
    top: 15px;
    opacity: 1;
    background-image: url('../../images/navbar/BlackIcon-main.svg');
    background-color: initial;
    background-repeat: no-repeat;
    background-position: center;
  }

  .Header__button-menu[type='checkbox']:checked + .Header__button-menu[id='span'] {
    background-image: url('../../images/navbar/Group.svg');
    border: none;
  }
}
@media screen and (max-width: 500px) {
  .Header {
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 400px) {
  .Header {
    min-width: 240px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    align-self: center;
  }
  .Header__button-menu[id='span'] {
    right: 0;
  }
}