.Header {
  min-height: 74px;
  position: relative;
  max-width: 1280px;
  background-color: #fff;
  align-self: stretch;
  margin-bottom: 20px;
}
.Header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 74px;
  width: 100%;
  max-width: 1280px;
}
.Header::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 74px;
  width: 100%;
  background: #fff;
}

@media screen and (max-width: 500px) {
  .Header {
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 400px) {
  .Header {
    min-width: 240px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
}