.Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  align-self: stretch;
  margin-top: auto;
  min-height: 172px;
  background-color: #fff;
}

.Footer__container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  min-width: 89%;
  min-height: 56px;
}

.Footer-item {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.21;
  margin-right: 10px;
  color: #000;
}
.Footer-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width:460px) {
  .Footer__container {
    flex-direction: column;
  }
  .Footer-item {
    font-size: 14px;
    line-height: 1.21;
    color: #A0A0A0;
  }
}