.AddPlaceForm {
  display: flex;
  max-width: 1280px;
  width: 100%;
  justify-content: center;
}
.AddPlaceForm-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1140px;
  width: 89%;
  background-color: #fff;
  border-bottom: 1px solid #E8E8E8;
  margin: 0 auto;
  margin-bottom: 10px;
}
.AddPlaceForm__input {
  min-height: 44px;
  background-color: #F9F9F9;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  min-width: 238px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 0 10px;
  outline: none;
  margin-top: 20px;
}
.AddPlaceForm__input:placeholder {
  color: #A0A0A0;
}
.AddPlaceForm__input:valid {
  background: linear-gradient(100deg, #fff, #2BE080, #fff);
}
.AddPlaceForm__input:invalid {
  background: linear-gradient(100deg, #fff, #ff6738cb, #fff);
}

.AddPlaceForm__error {
  position: relative;
  width: 100%;
  height: 0;
  align-self: flex-start;
}
.AddPlaceForm__input-error {
  visibility: hidden;
  font-size: 10px;
  line-height: 1.25;
  font-weight: normal;
  font-style: normal;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #EE3465;
}
.AddPlaceForm__input-error_active {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
}
.AddPlaceForm-label {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 780px) {
  .AddPlaceForm-container {
    max-width: 708px;
  }
}