/* стили списка */
.NavTab {
  display: flex;
  justify-content: center;
  list-style: none;
  min-height: 40px;
  padding: 0;
  margin: 0;
}

.NavTab_hidden {
  opacity: 0;
  pointer-events: none;
}

.NavTab_place_header {
  min-width: 200px;
}

.NavTab_place_promo {
  margin-bottom: 30px;
  min-height: fit-content;
}
.NavTab_place_aboutMe {
  align-items: flex-start;
  justify-content: flex-start;
  min-height: fit-content;
  margin-bottom: 90px;
}
.NavTab_place_popup {
  user-select: none;
  flex-direction: column;
}
.NavTab_place_techs {
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 100px;
}
.NavTab_place_portfolio {
  flex-direction: column;
  align-self: center;
  max-width: 1140px;
  min-width: 89%;
  padding: 0;
}

/* стили для элементов списка */

.NavTab__item {
  display: flex;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  margin-left: 10px;
}

.NavTab__item_place_header {
  min-width: 76px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  align-items: center;
  justify-content: center;
}
.NavTab__item_place_promo {
  margin-left: 0;
  margin-right: 10px;
  width: 96px;
  height: 36px;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #E8E8E8;
}
.NavTab__item_place_aboutMe {
  margin-right: 10px;
  margin-left: 0;
  text-align: left;
}
.NavTab__item_place_techs {
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 90px;
  height: 60px;
  background-color: #E8E8E8;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.NavTab__item_place_footer {
  justify-content: center;
  align-items: center;
}
.NavTab__item_place_promo:hover, .NavTab__item_place_techs:hover  {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.NavTab__item_place_footer:last-of-type {
  margin-bottom: 0;
}
.NavTab__item_place_techs:last-of-type {
  margin-right: 0;
}

.NavTab__item_place_popup {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  line-height: 1.66;
  font-weight: 400;
  margin-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
}
.NavTab__item_place_portfolio {
  min-width: 292px;
  font-size: 30px;
  line-height: 1.66;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 0;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}
.NavTab__item_place_portfolio:last-of-type {
  margin-bottom: 115px;
  border-bottom: none;
}
.NavTab__item:hover {
  cursor: pointer;
  opacity: .5;
  border-color: #FF6838;
}
.NavTab__item-active {
  background-color: #2BE080;
  border-radius: 3px;
}
.NavTab_active {
  border-bottom: 1px solid #000;
}


.NavTab__link {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  text-decoration: none;
  border-color: inherit;
  opacity: inherit;
  color: inherit;
  width: 100%;
  height: inherit;
}

@media screen and (max-width: 800px) {
  .NavTab__item_place_techs {
    width: 87px;
    height: 57px;
  }
}
@media screen and (max-width: 660px) {
  .NavTab_place_techs {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    margin-bottom: 90px;
  }
  .NavTab__item_place_portfolio {
    font-size: 28px;
    line-height: 1.67;
  }
}
@media screen and (max-width: 560px) {
  .NavTab__item_place_promo {
    width: 82px;
    height: 26px;
    font-size: 10px;
    line-height: 1.6;
    margin-right: 8px;
    margin-left: 0;
  }
  .NavTab_place_techs {
    margin-bottom: 70px;
  }
  .NavTab_place_promo {
    margin-bottom: 22px;
    max-width: 258px;
  }
  .NavTab_place_portfolio {
    justify-content: flex-start;
    align-items: stretch;
    width: 89%;
    min-width: 292px;
  }
  .NavTab__item_place_portfolio {
    font-size: 18px;
  }
  .NavTab__item_place_portfolio:last-of-type {
    margin-bottom: 90px;

  }
  .NavTab_place_footer {
    flex-direction: column;
    order: -1;
  }
  .NavTab__item_place_footer {
    margin-bottom: 10px;
    font-size: 12px;
  }
}