.NavTab {
  display: flex;
  justify-content: center;
  min-height: 40px;
}

.NavTab__links {
  display: flex;
  justify-content: center;
  list-style: none;
  min-height: 40px;
  padding: 0;
}
@media screen and (max-width: 700px) {
  .NavTab__links {
    flex-wrap: wrap;
    align-items: center;
  }
}

.NavTab__link {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavTab__link:hover {
  cursor: pointer;
  opacity: .8;
}

.NavTab__item {
  margin-right: 10px;
}
.NavTab__item:last-of-type {
  margin-right: 0;
}